</div>
						<div id="sidebar">
							<ul>
								<li>
									<h2>Menu</h2>
								</li>
								<li>
									<ul>
										{{gen_menu_items()}}
									</ul>
								</li>
							</ul>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div id="footer-bar" class="two-cols">
							<div class="col1">
								<h2>Eight Systems</h2>
								<p>Somos 100% brasileiros... e blah blah blah e blah blah blah</p>
							</div>
							<div class="col2">
								<ul>
									<li><h3>Alguns produtos</h3></li>

									<li><a href="http://sentidodepensar.com">Sentido de Pensar</a></li>
									<li><a href="http://curriculoamoroso.com">Curriculo Amoroso</a></li>

									<li><h3>Projetos que ajudamos</h3></li>
									<li><a href="http://kinuxlinux.org">KinuX Linux</a></li>
								</ul>
							</div>
							<div class="clearfix">&nbsp;</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer" class="container">
			<p>Copyright {{blog_info("blog_copyright")}}</p>
		</div>
	</body>
</html>