<html>
	<head>
		<title>{{blog_info("blog_title")}}</title>
		<link rel="stylesheet" href="{{theme_css()}}" type="text/css"/>
	</head>
	<body>
		<div id="wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1><a href="/">{{blog_info("blog_name")}}</a></h1>
					<p>{{blog_info("blog_subtitle")}}</p>
				</div>
				<div id="banner">
					<img src="/static/themes/terrafirma2/images/img01.jpg" width="667" height="118" alt="" />
				</div>
			</div>
			<div id="menu" class="container">
				<ul>
					{{gen_menu_items()}}
				</ul>
			</div>
			<div id="top-bar" class="container">
				<div class="bar">
					<div class="text">
						{% if user_logged() %}
							Seja bem-vindo {{user_data('displayname')}}
						{% end %}
					</div>
				</div>
			</div>

			<!--Starting the page-->
			<div id="page" class="container">
				<div id="page-bgtop">
					<div id="page-bgbtm">
						<div id="content">