{% include "header.html" %}

{% for post in posts %}
	<div class="post">
		<h2 class="title"><a href="/post/view/{{post.posts_id}}">{{post.posts_title}}</a></h2>
		<p class="meta">Postado por {{post.users_displayname}} {{timestamp_convert(post.posts_time,"as %H:%M em %d/%m/%Y")}}</p>
		<div class="entry">
			<div class="entry-bgtop">
				<div class="entry-bgbtm">
					{{render_content(word_wrap(post.posts_text,500))}}
					<p><a href="/post/view/{{post.posts_id}}" class="links">Leia Mais</a> </p>
				</div>

			</div>
		</div>
	</div>
{% end %}

{% include "footer.html" %}